@page "/CreateUser"
@using Domain.DTOs
@using HttpClients.ClientInterfaces
@using BlazorWasm.Services.Http
@inject IAuthService authService
@inject IUserService userService
@inject NavigationManager navMgr

<div class="card">
    <h3>Register</h3>
    <div class="field">
        <label>Username:</label>
        <input type="text" @bind="username" @bind:event="oninput"/>
    </div>
    <div class="field">
        <label>Password:</label>
        <input type="password" @onkeyup="@EnterPressed" @bind="password" @bind:event="oninput"/>
    </div>
    @if (!string.IsNullOrEmpty(resultMsg))
    {
        <div class="field">
            <label style="color: @color">
                @resultMsg
            </label>
        </div>
    }
    <div class="field">
        <Button Color="Color.Primary" Clicked="Create">Register</Button>
    </div>
</div>

@code {
    private string username = "";
    private string password = "";
    private string resultMsg = "";
    private string color = "";

    private async Task Create()
    {
        resultMsg = "";

        try
        {
            await userService.CreateAsync(new UserCreationDto(username, password));
            await authService.LoginAsync(username, password);
            navMgr.NavigateTo("/Posts");
            
            username = "";
            password = "";
            resultMsg = "User successfully created";
            color = "green";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            resultMsg = e.Message;
            color = "red";
        }
    }

    private void EnterPressed(KeyboardEventArgs e)
    {
        if (e.Code == "Enter")
            Create();
    }
}