@page "/Posts/{id:int}"
@using HttpClients.ClientInterfaces
@using Domain

@inject IPostService postService

@if (post == null)
{
    <p>No Post to display</p>
}
else
{
    <Button Color="Color.Dark" Type="ButtonType.Link" To="/Posts" Margin="Margin.Is2.FromBottom">Back</Button>
    
    <Jumbotron Background="Background.Light" Margin="Margin.Is4.FromBottom">
        <JumbotronTitle Size="JumbotronTitleSize.Is4">@post.Title</JumbotronTitle>
        <JumbotronSubtitle>
            By: @post.Author.Username
        </JumbotronSubtitle>
        <Divider></Divider>
        <Paragraph>
            @post.Body
        </Paragraph>
    </Jumbotron>
}
@if (!string.IsNullOrEmpty(message))
{
    <label style="color: red">@message</label>
}

@code {
    [Parameter]
    public int Id { get; set; }
    
    private Post? post = null;
    private string message = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            post = await postService.GetByIdAsync(Id);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            message = e.Message;
        }
    }

}